<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.xpenses">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BudgetHistroyActivity"></activity>
        <activity
            android:name=".BudgetActivity"
            android:theme="@style/AddTheme"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name=".DataFiles.TransactionsProvider"
            android:authorities="com.example.android.xpenses"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplachTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddActivity"
            android:label="@string/app_name"
            android:theme="@style/AddTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AllTransactionActivity" />
        <activity android:name=".AccountActivity" />
        <activity
            android:name=".TransferActivity"
            android:label="Transfer"
            android:theme="@style/AddTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TimePickyActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".CategoryActivity"
            android:label="Select Category"
            android:theme="@style/AddTheme" />
    </application>

</manifest>